.more_info,
.more_photos {
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.more_photos {
  text-align: end;
}

.images__container > img {
  width: 100%;
}

.images__container > img:first-child {
  margin-top: 1rem;
}

.videos__container {
  display: none;
  flex-direction: column;
  gap: 1rem;
}