.more_info,
.more_photos {
  cursor: pointer;
  text-decoration: underline;
}

.more_info {
  padding: 0 2rem;
  margin-top: 1rem;
}

.more_photos {
  text-align: end;
}

.image {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}