.carrousel__container,
.carrousel__content > li,
.carrousel__content > li > div {
  width: 100%;
}

.carrousel__content {
  display: flex;
  overflow: hidden;
  animation: slide 15s infinite alternate;
  animation-delay: 1s;
}

.carrousel__content > li > div {
  height: 70vh;
  max-height: 1200px;
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }

  20% { margin-left: -100%; }
  40% { margin-left: -100%; }
  
  40% { margin-left: -200%; }
  60% { margin-left: -200%; }

  60% { margin-left: -300%; }
  80% { margin-left: -300%; }

  80% { margin-left: -400%; }
  100% { margin-left: -400%; }
}