.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1.5rem 0;
  gap: 2rem;
  text-align: center;
}

.footer_container p {
  color: var(--color-gray);
}

.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer_logo img {
  max-width: 250px;
  height: 76px;
}

.links_container svg {
  width: 32px;
  margin: 2rem .7rem;
}

.info_container > h3 {
  margin-bottom: 1rem;
}

.info_container > li {
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_container > li > span {
  font-size: 1.5rem;
  padding: 0;
}

.tel {
  text-decoration: underline;
}

.material-symbols-outlined {
  font-size: 1rem;
  padding: 0;
  margin-right: .5rem;
  color: var(--color-white);
}

@media (min-width: 768px) {
  .footer_container {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .footer_logo img:first-child {
    height: 20%
  }

  .links_container svg {
    margin: 2rem .7rem 0;
  }

  .info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info_container > li {
    font-size: .9rem;
  }
}

@media (min-width: 1024px) {
  .footer_container {
    padding: 1.5rem 0;
  }

  .contact_container {
    display: flex;
    gap: 7rem;
  }

  .links_container svg {
    margin: 2rem 1.5rem;
  }

  .links_container svg {
    width: 48px;
  }
  
  .wp {
    width: 50px !important;
  }
}

