.not_found__container {
  width: 100%;
  min-height: calc(100vh - 221px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 150px 4rem 3rem;
  background-color: var(--color-white);
}

.not_found__container > img {
  width: 100%;
  max-width: 300px;
}

.category__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.category_list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: center;
  text-decoration: underline;
}

.category_list > li {
  cursor: pointer;
}

@media (min-width: 768px) {
  .not_found__container {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  .category__container {
    gap: 2rem;
    font-size: 1.1rem;
  }

  .not_found__container > img {
    width: 50%;
  }
}